// .login {
//   // align-content: center;
// }

.login .user-info {
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 100px;
  height: 300px;
  width: 300px;

  label, input {
    display: block;
  }
}

.login .user-info .username {
  margin-top: 50px;
}

.login .user-info .password {
  margin-top: 20px;
}

.login .user-info .sign-info {
  margin-top: 50px;
}



.main {
  text-align: center;
}

.main .back {
  border: none;
  background: #ffffff;
  color: #404040 !important;
  font-weight: 500;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  float: right;

  &:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
}

.nav {
  line-height: 10px;
  width: 100%;
  text-align: left;
  margin-top: 30px;

  a {
    font-family: "BebasNeueRegular";
    font-size: 25px;
    margin-left: 50px;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #DCDCDC;
  }

  p {
    font-family: "BebasNeueLight";
    font-size: 15px;
    letter-spacing: 0.4px;
    margin-left: 50px;
  }
}

.header {
  display: block;
  margin: 0 auto;
  margin-top: 50px;

  a {
    color: black;
    margin-top: 200px;
    font-family: "BebasNeueLight";
    font-size: 18px;
  }

  a:hover {
    cursor: pointer;
    color: #C0C0C0;
  }
}

.mid {
  display: flex;
  height: 1000px;
  max-height: 1000px;
}

.image_section {
  border: 1px solid black;
  width: 950px;
  max-width: 950px;
  margin-top: 100px;
  margin-left: 50px;
  height: 950px;
  max-height: 950px;

  img {
    height: 700px;
    max-height: 700px;
    width: 800px;
    max-width: 800px;
    margin-top: 100px;
  }
}

.social_section {
  border: 1px solid black;
  margin-left: 150px;
  margin-top: 100px;
  width: 300px;
  max-width: 300px;
  height: 100px;
  max-height: 100px;
  text-align: center;

  i {
    padding: 10px;
  }

  p {
    font-family: "BebasNeueLight";
    font-size: 15px;
    letter-spacing: 1px;
    color: #708090;
  }
}

.social_section .social_link {
  color: black;
}

.blogs {
  margin-top: 200px;
  display: flex;
}

.blogs .blogs_section {
  margin-left: 50px;
  text-align: left;
}

.blog_section {
  width: 50%;
  max-width: 50%;
  text-align: left;
  display: inline-block;
  margin-top: 50px;
  font-family: 'geomanist', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;

  h3 {
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
    color: #b9b9b9;
  }

  h1 {
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1.25em;
  }

  a {
    font-size: 14px;
    color: #5d5d5d;
    cursor: pointer;
    text-decoration: none;
  }
}

.blog_section .blog_message_section {
  overflow: hidden;
  width: 60%;
  max-width: 60%;

  p {
    font-family: 'geomanist', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: rgb(93, 93, 93);
    font-size: 14px;
    line-height: 1.7em;
    height: 165px;
  }
}

.copyright {
  margin-top: 10px;
  float: left;
  font-size: 11px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.all {
  text-align: center;
  font-family: 'Montserrat';
}

.all .all_mid {
  display: flex;
}

.all .all_mid .all_blogs {
  width: 75%;
  text-align: left;
}

.all .all_mid .all_social {
  width: 25%;
  max-width: 25%;

  div {
    margin-left: 0px;
  }
}

.full-blog .full-blog-mid {
  display: flex;
}

.full-blog .full-blog-mid .full-blog-details {
  text-align: left;
  margin-left: 50px;
  font-family: "BebasNeueLight";
  line-height: 1.6;

  h3 {
    font-size: 16px;
    color: #C0C0C0;
    text-align: center;
  }

  h1 {
    font-family: 'geomanist', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
  }

  p {
    font-family: 'geomanist', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: #5d5d5d;
  }
}

.full-blog .full-blog-mid .full-blog-details .go-back {
  p {
    font-family: "BebasNeueLight";
    font-size: 18px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
  }

  p:hover {
    color: #C0C0C0;
  }
}

.full-blog .full-blog-mid .full-blog-social .full-blog-delete {
  text-align: center;
  margin-top: 5px;
  margin-left: 150px;

  button {
    border: none;
    background: #ffffff;
    color: #404040 !important;
    font-weight: 500;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: red !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
    }
  }
}

.create_section {
  margin-top: 25px;
  width: 84%;
  max-width: 300px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: #C0C0C0;
  }

  a:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
}

.create {
  display: flex;
}

.create .create_blog {
  width: 700px;
  max-width: 700px;
  margin-top: 90px;
  margin-left: 100px;

  input, label, textarea {
    display: block;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    width: 150px;
    max-width: 150px;
    height: 20px;
    max-height: 20px;
    margin-right: 50px;
  }

  textarea {
    resize: none;
  }
}

.create .create_blog .blog-title {
  float: left;
}

.create .create_blog .blog-message {
  margin-top: 20px;
  width: 600px;
  max-width: 600px;
  height: 500px;
  max-height: 500px;
  font-size: 14px;
}

